/* *{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
} */

/* .body{
    background-color:#1F2937;
    width:9em;
    height: 100%;
    color: rgb(180, 180, 180);
}

.body-container{
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.body-div{
    padding: 1.3em 2em;
}

.body-div:hover{
    border-left: 2px solid white;
    color: white;
}

.mainBody{
    display: flex;
} */

/* .mainbody{
    width: 100vw;
    height: 100%;
    background-color: red;
    display:flex;
    justify-content:space-between;
} */