*{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-container{
    /* background-color:cadetblue; */
    width:fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 7em 7em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.signup-text{
    font-weight:bold;
    font-size: 1.6em;
    margin-bottom: 5%;
}

.signup-container input{
    width: 20em;
    height: 2.5em;
    border: none;
}

.input{
    background-color:rgba(235, 235, 235, 0.574);
    border-radius: 2px;
}

.signup-container input:focus {
    border-bottom: 2px solid #2364AA; 
    outline: none; 
    box-shadow: none; 
}

.signup-container label{
    font-size: 1em;
    color: rgb(71, 71, 71);
}

.hvaccount{
    margin-top: 5%;
    align-self:flex-start;
    color: grey;

}

.submit{
    border:none;
    background-color:#2364AA;
    color:white;
    border-radius: 8px;
}

.signup-container a{
    color: #2364AA;
    text-decoration: none;
}